@media screen and (min-width:900px){
  .App {
    text-align: center;
    width:800px;
    margin-left: 32%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list{
    display: flex;
    gap:25px;
    margin-top: 50px;
  }
  .item{
    border:1px solid gray;
    padding: 5px;
    border-radius: 4px;
    box-shadow:5px 5px 5px
  }
  
  .note__inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .note__body{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .note__title{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .select{
    display:flex;
    align-items: center;
    justify-content:space-around;
  }
  .selected__body{
    font-size: 18px;
    float: left;
  }
}
@media screen and (max-width:900px) {
  .App {
   height: 100vh;
  }
  .header{
    display: flex;
    flex-direction:column ;
    font-size: 20px;
    align-items: center;
  }
  .list{
    display: flex;
    flex-direction: column;
    gap:25px;
    margin-top: 50px;
  }
  .item{
    border:1px solid gray;
    padding: 5px;
    border-radius: 4px;
    box-shadow:5px 5px 3px;
    margin: 20px 20px;
  }
  .selected{
    margin-left: 15%;
  }
  .note__title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .note__inputs{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    margin-top: 50px;
    margin: 10px 10px;
  }
  .note__body{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
  }
}
.selected__title{
  font-size: 35px ;
}
.selected__body{
  font-size: 18px;
}
.item__tags{
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
  gap:5px;
  margin-left: auto;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}
.item__btn{
  display: flex;
  gap:4px;
  justify-content: center;
  cursor: pointer;
}
.note__tags{
  width: 300px;
}
.select{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
