.App {
  text-align: center;
  width:800px;
  margin-left: 32%;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note__inputs{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.note__body{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.note__title{
  display: flex;
  justify-content: space-between;
}
.list{
  display: flex;
  gap:25px;
  margin-top: 50px;
}
.item{
  border:1px solid gray;
  padding: 5px;
  border-radius: 4px;
  width: 175px;
}
.selected{
  float:left
}
.selected__title{
  font-size: 35px ;
}
.selected__tag{
  font-size: 20px;
}
.selected__body{
  font-size: 18px;
}
.basic-multi-select{
  width: 300px;
}
